body{
    .footermenu{
        background-image: url("../media/vector/mountain-gacb5724cc_1280.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        width:-webkit-fill-available;
        color: white;
    }
}