$sectionbackground:#0A170D;
$text1color:#013E0C;
$pageorange:#F6931E;
body{
    font-family: poppins;
    margin: 0px;
    .middlepart1{
        .menubar{
            box-shadow:0 0 5px 1px black;
            background-color: rgba(255, 255, 255);
            //padding: 10px;
            width: -webkit-fill-available;
            display: flex;
            align-items: center;
            flex-direction: column;
            .logo1{
                width: 10%;
                padding: 20px;
                //border: black 2px solid;
            }
            .logo2{
                display: none;
            }
            &.sticky {
                position: fixed;
                top: 0;
                width: 100%;

            }
            
            .menusocial{
                display: flex;
                justify-content: space-around;
                width: 100%;
                align-items: center;
                
                .menuitems{
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    a{
                        text-decoration: none;
                        color: #0A170D;
                        margin: 0;
                        &:hover{
                            color: #F6931E;
                        }
                    }
                    .innersocialicons{
                        display: none;
                        width: 20%;
                        text-align: right;
                        padding: 10px 10px 10px 0px;
                        a{
                            img{
                                width: 25px;
                            }
                    }
                    }
                    .innerlogo{
                        display: none;
                    }
                    .innerclose{
                        display: none;
                    }
                    
                }
                .blankdiv{
                    width: 20%;
                    .logo3{
                        display: none;
                        width: 50px;
                        padding: 10px 0px 10px 10px;
                    }
                }
                .socialicons{
                    width: 20%;
                    text-align: right;
                    padding: 10px 10px 10px 0px;
                    a{
                        img{
                            width: 25px;
                        }
                    }
                }
                
            }
            .burger{
                display: none;
                border: white 3px solid; 
                border-radius: 4px;
                align-self: center;
                display: none;
                height: fit-content;
                margin-right: 4px;
                cursor: pointer;
                div{
                    width: 20px;
                    background-color: white;
                    height: 3px;
                    margin: 4px;
                }
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    body{
        .middlepart1{
            .menubar{
                padding: 10px 30px 10px 30px ;
                // border: #0A170D solid 2px;
                background-color: $sectionbackground;
                width: -webkit-fill-available;
                flex-direction: row;
                .logo1{
                    display: none;
                    height: 50px;
                    padding-bottom:0px ;
                }
                .logo2{
                    display: block;
                    height: 50px;
                    padding-bottom:0px ;
                }
                .logo3{
                    display: none;
                    height: 50px;
                    padding-bottom:0px ;
                }
                &.sticky {
                    position: fixed;
                    top: 0;
                    width: 100%;
                  }
                .menusocial{
                    
                    .menuitems{
                        position: fixed;
                        width: 100vw;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 50px;
                        padding-bottom:50px ;
                        row-gap: 40px;
                        top: 0px;
                        left: 0px;
                        transform: translate3d(-100vw,0,0);
                        transition: transform .3s cubic-bezier(0, .52,0,1);
                        overflow-x: hidden;
                        .innersocialicons{
                            display: flex;
                        }
                        .innerlogo{
                            display: block;
                            width: 100px;
                        }
                        .innerclose{
                            display: block;
                            width: 40px;
                        }
                        &.show{
                            transform: translate3d(0vw,0,0);
                        }
                        hr{
                            height: 3px;
                            background-color: #013E0C;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    
                    .blankdiv{
                        display: none;
                    }
                    .socialicons{
                        display: none;
                    }
                }
                .burger{
                    display: block;
                }
            }
        }
    }
}
