body {
  font-family: poppins;
  margin: 0px;
}
body .middlepart1 .menubar {
  box-shadow: 0 0 5px 1px black;
  background-color: rgb(255, 255, 255);
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .middlepart1 .menubar .logo1 {
  width: 10%;
  padding: 20px;
}
body .middlepart1 .menubar .logo2 {
  display: none;
}
body .middlepart1 .menubar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body .middlepart1 .menubar .menusocial {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
body .middlepart1 .menubar .menusocial .menuitems {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
body .middlepart1 .menubar .menusocial .menuitems a {
  text-decoration: none;
  color: #0A170D;
  margin: 0;
}
body .middlepart1 .menubar .menusocial .menuitems a:hover {
  color: #F6931E;
}
body .middlepart1 .menubar .menusocial .menuitems .active {
  color: rgba(0, 0, 0, 0.5);
}
body .middlepart1 .menubar .menusocial .menuitems .innersocialicons {
  display: none;
  width: 20%;
  text-align: right;
  padding: 10px 10px 10px 0px;
}
body .middlepart1 .menubar .menusocial .menuitems .innersocialicons a img {
  width: 25px;
}
body .middlepart1 .menubar .menusocial .menuitems .innerlogo {
  display: none;
}
body .middlepart1 .menubar .menusocial .menuitems .innerclose {
  display: none;
}
body .middlepart1 .menubar .menusocial .blankdiv {
  width: 20%;
  height: 80px;
}
body .middlepart1 .menubar .menusocial .blankdiv .logo3 {
  display: none;
  width: 50px;
  padding: 10px 0px 10px 10px;
}
body .middlepart1 .menubar .menusocial .socialicons {
  width: 20%;
  text-align: right;
  padding: 10px 10px 10px 0px;
}
body .middlepart1 .menubar .menusocial .socialicons a img {
  width: 25px;
}
body .middlepart1 .menubar .burger {
  display: none;
  border: white 3px solid;
  border-radius: 4px;
  align-self: center;
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 4px;
  cursor: pointer;
}
body .middlepart1 .menubar .burger div {
  width: 20px;
  background-color: white;
  height: 3px;
  margin: 4px;
}

@media (max-width: 576px) {
  body .middlepart1 .menubar {
    padding: 10px 30px 10px 30px;
    background-color: #0A170D;
    width: -webkit-fill-available;
    flex-direction: row;
  }
  body .middlepart1 .menubar .logo1 {
    display: none;
    height: 50px;
    padding-bottom: 0px;
  }
  body .middlepart1 .menubar .logo2 {
    display: block;
    height: 50px;
    padding-bottom: 0px;
  }
  body .middlepart1 .menubar .logo3 {
    display: none;
    height: 50px;
    padding-bottom: 0px;
  }
  body .middlepart1 .menubar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  body .middlepart1 .menubar .menusocial .menuitems {
    position: fixed;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 40px;
    top: 0px;
    left: 0px;
    transform: translate3d(-100vw, 0, 0);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    overflow-x: hidden;
  }
  body .middlepart1 .menubar .menusocial .menuitems .innersocialicons {
    display: flex;
  }
  body .middlepart1 .menubar .menusocial .menuitems .innerlogo {
    display: block;
    width: 100px;
  }
  body .middlepart1 .menubar .menusocial .menuitems .innerclose {
    display: block;
    width: 40px;
  }
  body .middlepart1 .menubar .menusocial .menuitems.show {
    transform: translate3d(0vw, 0, 0);
  }
  body .middlepart1 .menubar .menusocial .menuitems hr {
    height: 3px;
    background-color: #013E0C;
    margin: 0;
    padding: 0;
  }
  body .middlepart1 .menubar .menusocial .blankdiv {
    display: none;
  }
  body .middlepart1 .menubar .menusocial .socialicons {
    display: none;
  }
  body .middlepart1 .menubar .burger {
    display: block;
  }
}