body {
  background-image: url("../media/Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  scroll-behavior: smooth;
}
body .middlepart1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .middlepart1 .aboutsection {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
body .middlepart1 .aboutsection .aboutdesc {
  text-align: left;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
body .middlepart1 .aboutsection .aboutdesc h1 {
  color: #013E0C;
}
body .middlepart1 .aboutsection .aboutdesc a {
  border: #013E0C 2px solid;
  text-decoration: none;
  border-radius: 10%;
  padding: 2px 8px 2px 8px;
  background-color: #013E0C;
  color: white;
}
body .middlepart1 .aboutsection .aboutdesc p {
  text-align: justify;
}
body .middlepart1 .aboutsection img {
  width: 35%;
}
body .middlepart2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0A170D;
  height: 100vh;
}
body .middlepart2 .conservesection {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 20px;
}
body .middlepart2 .conservesection .phonegallery {
  display: none;
}
body .middlepart2 .conservesection .conservedesc {
  text-align: left;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
body .middlepart2 .conservesection .conservedesc h1 {
  color: #F6931E;
}
body .middlepart2 .conservesection .conservedesc p {
  text-align: justify;
  margin-left: 30px;
  color: white;
}
body .middlepart2 .conservesection img {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
body .middlepart3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .middlepart3 h1 {
  color: #013E0C;
}
body .middlepart3 .service {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
body .middlepart3 .service .servicetab {
  width: 30%;
  border: #F6931E 3px solid;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}
body .middlepart3 .service .servicetab .servicehead {
  color: #013E0C;
  display: flex;
  align-items: center;
}
body .middlepart3 .service .servicetab .servicehead img {
  width: 50px;
  height: 50px;
}
body .middlepart3 .service .servicetab .servicedesc {
  text-align: justify;
}
body .middlepart3 a {
  text-decoration: none;
  border: solid #013E0C 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: black;
  margin-top: 20px;
}

@media (max-width: 992px) {
  body .middlepart1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .middlepart2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .middlepart3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 768px) {
  body .middlepart1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .middlepart1 .aboutsection {
    width: 90%;
  }
  body .middlepart1 .aboutsection .aboutdesc {
    width: 45%;
  }
  body .middlepart1 .aboutsection img {
    width: 50%;
  }
  body .middlepart2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .middlepart2 .conservesection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
  }
  body .middlepart2 .conservesection .gengallery {
    display: none;
  }
  body .middlepart2 .conservesection .phonegallery {
    display: block;
  }
  body .middlepart2 .conservesection .conservedesc {
    text-align: left;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
  }
  body .middlepart2 .conservesection .conservedesc h1 {
    color: #F6931E;
  }
  body .middlepart2 .conservesection .conservedesc p {
    text-align: justify;
    margin-left: 30px;
    color: white;
    margin: 0;
  }
  body .middlepart2 .conservesection img {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
  }
  body .middlepart3 {
    height: 100vh;
  }
}
@media (max-width: 576px) {
  body .middlepart1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .middlepart1 .aboutsection {
    width: 90%;
    flex-direction: column;
  }
  body .middlepart1 .aboutsection .aboutdesc {
    width: 100%;
    order: 2;
  }
  body .middlepart1 .aboutsection .aboutdesc h1 {
    font-size: 1em;
  }
  body .middlepart1 .aboutsection .aboutdesc p {
    margin-top: 0px;
  }
  body .middlepart1 .aboutsection img {
    width: 80%;
    align-self: center;
    order: 1;
  }
  body .middlepart2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .middlepart2 .conservesection .conservedesc h1 {
    font-size: 1em;
  }
  body .middlepart3 {
    height: 100vh;
  }
}/*# sourceMappingURL=index.css.map */