$text1color:#013E0C;
body{
    background-image: url("../media/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    scroll-behavior: smooth;
    .middlepart1{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .aboutsection{
            width: 80%;
            //border: black solid 2px;
            display: flex;
            justify-content: space-between;
            margin: 20px;
            .aboutdesc{
                text-align: left;
                width: 50%;
                height: fit-content;
                //border: black solid 2px;
                align-self: center;
                h1{
                    color: $text1color;
                }
                a{
                    border: $text1color 2px solid;
                    text-decoration: none;
                    border-radius: 10%;
                    padding: 2px 8px 2px 8px ;
                    background-color: $text1color;
                    color: white;
                }
                p{
                    text-align: justify;
                }
            }
            img{
                width:35%
            }
        }
    }  
    .middlepart2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #0A170D;
        height: 100vh;
        .conservesection{
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: 20px;
            gap: 20px;
            .conservedesc{
                text-align: left;
                width: 50%;
                height: fit-content;
                //border: black solid 2px;
                align-self: center;
                
                h1{
                    color: #F6931E;
                }
                // a{
                //     border: $text1color 2px solid;
                //     text-decoration: none;
                //     border-radius: 10%;
                //     padding: 2px 8px 2px 8px ;
                //     background-color: $text1color;
                //     color: white;
                //     margin: 60px;
                // }
                p{
                    text-align: justify;
                    margin-left: 30px;
                    color: white;
                }
            }
            img{
                width: 50%;
                height: fit-content;
                align-self: center;
                
            }
        }
    }
    .middlepart3{
        height: 100vh;
    }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    body{
        
        .middlepart1{
            height: fit-content;
            
            .aboutsection{
                width: 90%;
                .aboutdesc{
                    width: 45%;
                }
                img{
                    width:50%
                }
            }
        }  
        .middlepart2{  
            height: fit-content;
            
            .conservesection{
                width: 90%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: 20px;
                gap: 20px;
                .conservedesc{
                    text-align: left;
                    width: 100%;
                    height: fit-content;
                    //border: black solid 2px;
                    align-self: center;
                    
                    h1{
                        color: #F6931E;
                    }
                    // a{
                    //     border: $text1color 2px solid;
                    //     text-decoration: none;
                    //     border-radius: 10%;
                    //     padding: 2px 8px 2px 8px ;
                    //     background-color: $text1color;
                    //     color: white;
                    //     margin: 60px;
                    // }
                    p{
                        text-align: justify;
                        margin-left: 30px;
                        color: white;
                        margin: 0;
                    }
                }
                img{
                    width: 100%;
                    height: fit-content;
                    align-self: center;
                    
                }
            }
        }
        .middlepart3{
            height: 100vh;
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    body{
        .middlepart1{
            height: fit-content;
            .aboutsection{
                width: 90%;
                flex-direction: column;
                .aboutdesc{
                    width: 100%;
                    order: 2;
                }
                img{
                    width:80%;
                    align-self: center;
                    order: 1;
                }
            }
        }  
        .middlepart2{  
            height: fit-content;
        }
        .middlepart3{
            height: 100vh;
        }
    }
}
// Large devices (desktops, 992px and up)
//@media (max-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
// @media (max-width: 1200px) {}